

main {
	margin-right: 30px;
	margin-top: -20px;
}

body {
	zoom: 1.5;
}

#rock,
#paper,
#scissors {
	width: 80px;
	height: 80px;
}

#score {
	margin-left: 32rem;
	margin-bottom: 0rem;
	margin-top: -9rem;
}

#hscore {
	margin-left: 32rem;
	margin-bottom: 0rem;
	margin-top: 0.3rem;
}

